<!DOCTYPE html><html lang="en" class="chekov">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <meta name="xsrf_token" content="Vfb-eAV_Q1a_RaReA4JqFtIu39-lAwkCKOE2AzTkZLE6MTQ5Mjc1NjIzNTY2MjU5MA" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700|Material+Icons">
  <link rel="stylesheet" href="https://google-developers.appspot.com/_static/bd310eb799/css/devsite-google-blue.css">
  <title>Telechips &nbsp;|&nbsp; R&D &nbsp;|&nbsp; Center</title>
</head>

<body class="devsite-doc-page devsite-header-no-upper-tabs" id="top_of_page">
  <div class="devsite-wrapper">
    <header class="devsite-top-section nocontent">
      <div class="devsite-top-logo-row-wrapper-wrapper">
        <div class="devsite-top-logo-row-wrapper">
          <div class="devsite-top-logo-row devsite-full-site-width">
            <button type="button" class="devsite-expand-section-nav devsite-header-icon-button button-flat material-icons gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Hamburger menu"></button>
            <div class="devsite-product-name-wrapper">
              <span class="devsite-product-name">
                <ul class="devsite-breadcrumb-list">
                  <li class="devsite-breadcrumb-item"><a href="http://localhost:8000" class="devsite-breadcrumb-link gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Upper Header" data-value="1">
                    Telechips R&D Center</a>
                  </li>
                </ul>
              </span>
            </div>
            <div class="devsite-header-upper-tabs"></div>
          </div>
        </div>
      </div>
    </header>

    <div class="devsite-main-content clearfix">
      <nav class="devsite-section-nav devsite-nav nocontent">
        <ul class="devsite-nav-list">
          <li class="devsite-nav-item">Function List</li>
          <li class="devsite-nav-item devsite-nav-item-heading">
            <span class="devsite-nav-title devsite-nav-title-no-path" track-type="leftNav" track-name="expandNavSectionNoLink" track-metadata-position="0">
              Info. Database
            </span>
            <li class="devsite-nav-item">
              <a href="http://localhost:8000/companylist" class="devsite-nav-title gc-analytics-event" track-type="leftNav" track-name="titleLink" track-metadata-position="1" data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">
                업체 정보
              </a>
            </li>
            <li class="devsite-nav-item">
              <a href="https://google-developers.appspot.com/chart/interactive/docs/gallery" class="devsite-nav-title gc-analytics-event" track-type="leftNav" track-name="titleLink" track-metadata-position="1" data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">
                대외 이해관계자 정보
              </a>
            </li>
          </li>

          <li class="devsite-nav-item devsite-nav-item-heading">
            <span class="devsite-nav-title devsite-nav-title-no-path" track-type="leftNav" track-name="expandNavSectionNoLink" track-metadata-position="0">
              Project Management
            </span>
            <li class="devsite-nav-item">
              <a href="https://google-developers.appspot.com/chart/interactive/docs/gallery" class="devsite-nav-title gc-analytics-event" track-type="leftNav" track-name="titleLink" track-metadata-position="1" data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">
                연구소 과제 정보
              </a>
            </li>
            <li class="devsite-nav-item">
              <a href="https://google-developers.appspot.com/chart/interactive/docs/gallery/annotationchart" class="devsite-nav-title gc-analytics-event" track-type="leftNav" track-name="titleLink" track-metadata-position="1" data-category="Site-Wide Custom Events" data-label="Left nav" data-action="click">
                TIMS 처리현황
              </a>
            </li>
          </li>
    </nav>


    <article class="devsite-article">
      <article class="devsite-article-inner">
        <h1 itemprop="name" class="devsite-page-title">
          R&D 통계 지표
        </h1>

<!--
        <div class="devsite-article-body clearfix" itemprop="articleBody">
          <p>Here's a simple example of a page that displays a
            <a href="https://google-developers.appspot.com/chart/interactive/docs/gallery/piechart">
              pie chart
            </a>:
          </p>

          <iframe data-src="https://google-developers.appspot.com/chart/interactive/docs/quick_start_b5a5d0ea881453eaf5d406489a4f5619.frame" class="framebox inherit-locale " style="width: calc(100% + 40px); height: calc(100px + 40px);">
            <p>[This section requires a browser that supports JavaScript and iframes.]</p>
          </iframe>

          <p>You can copy the snippet below to an .html file on your computer and open it in your browser to display the pie chart shown above:</p>
          <pre class="prettyprint lang-html"> 하하하
          </pre>

          <h2>How About a Bar Chart?</h2>
          <p>Convert the pie chart to a bar chart by replacing
            <span class="prettyprint lang-js">
              <code>google.visualization.PieChart</code>
            </span> with
            <span class="prettyprint lang-ljs">
              <code>google.visualization.BarChart</code>
            </span> 호호호
            <code>width</code> browser.

            <div class="g-button-basic" style="margin-top: 40px;">
              <div>
                <span>
                  <span>
                    <a style="font-size:120%" href="https://google-developers.appspot.com/chart/interactive/docs/basic_load_libs">
                      <strong>Next:
                        <em>How does it work?</em>
                      </strong>
                    </a>
                  </span>
                </span>
              </div>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </div>
        </article>
      </article>
    </div>


<footer class="devsite-footer-linkboxes nocontent
               "><nav class="devsite-full-site-width"><ul class="devsite-footer-linkboxes-list"><li class="devsite-footer-linkbox
                 "><h3 class="devsite-footer-linkbox-heading">Questions?</h3><ul class="devsite-footer-linkbox-list"><li class="devsite-footer-linkbox-item"><a href="https://groups.google.com/group/google-visualization-api" class="gc-analytics-event"
               data-category="Site-Wide Custom Events"
               data-label="Content Page Footer Linkbox">

                Forum

            </a></li><li class="devsite-footer-linkbox-item"><a href="https://github.com/google/google-visualization-issues/issues" class="gc-analytics-event"
               data-category="Site-Wide Custom Events"
               data-label="Content Page Footer Linkbox">

                Issues &amp; Requests

            </a></li><li class="devsite-footer-linkbox-item"><a href="https://google-developers.appspot.com/chart/interactive/faq" class="gc-analytics-event"
               data-category="Site-Wide Custom Events"
               data-label="Content Page Footer Linkbox">

                FAQ

            </a></li></ul></li><li class="devsite-footer-linkbox
                 "><h3 class="devsite-footer-linkbox-heading">Product Info</h3><ul class="devsite-footer-linkbox-list"><li class="devsite-footer-linkbox-item"><a href="https://google-developers.appspot.com/chart/interactive/docs/release_notes" class="gc-analytics-event"
               data-category="Site-Wide Custom Events"
               data-label="Content Page Footer Linkbox">

                Releases

            </a></li><li class="devsite-footer-linkbox-item"><a href="https://google-developers.appspot.com/chart/terms" class="gc-analytics-event"
               data-category="Site-Wide Custom Events"
               data-label="Content Page Footer Linkbox">

                Terms of Service

            </a></li><li class="devsite-footer-linkbox-item"><a href="https://google-developers.appspot.com/chart/interactive/docs/security_privacy" class="gc-analytics-event"
               data-category="Site-Wide Custom Events"
               data-label="Content Page Footer Linkbox">

                Security and Privacy

            </a></li></ul></li><li class="devsite-footer-linkbox
                 "><h3 class="devsite-footer-linkbox-heading">Related APIs</h3><ul class="devsite-footer-linkbox-list"><li class="devsite-footer-linkbox-item"><a href="https://google-developers.appspot.com/chart/infographics" class="gc-analytics-event"
               data-category="Site-Wide Custom Events"
               data-label="Content Page Footer Linkbox">

                Infographics (deprecated)

            </a></li><li class="devsite-footer-linkbox-item"><a href="https://google-developers.appspot.com/chart/image" class="gc-analytics-event"
               data-category="Site-Wide Custom Events"
               data-label="Content Page Footer Linkbox">

                Image Charts (deprecated)

            </a></li></ul></li><li class="devsite-footer-linkbox
                 devsite-footer-linkbox-sites"><a href="https://developers.google.com/"
           class="gc-analytics-event devsite-footer-linkbox-logo-link"
           data-category="Site-Wide Custom Events" data-label="Footer Google Developers Link"><img class="devsite-footer-linkbox-logo"
               src="https://google-developers.appspot.com/_static/bd310eb799/images/redesign-14/logo-color-knockout.svg"></a><ul class="devsite-footer-linkbox-list"><li class="devsite-footer-linkbox-item"><a href="//developer.android.com/index.html" class="gc-analytics-event"
               data-category="Site-Wide Custom Events"
               data-label="Footer Android Link">

                Android

            </a></li><li class="devsite-footer-linkbox-item"><a href="//developer.chrome.com/home" class="gc-analytics-event"
               data-category="Site-Wide Custom Events"
               data-label="Footer Chrome Link">

                Chrome

            </a></li><li class="devsite-footer-linkbox-item"><a href="//firebase.google.com" class="gc-analytics-event"
               data-category="Site-Wide Custom Events"
               data-label="Footer Firebase Link">

                Firebase

            </a></li><li class="devsite-footer-linkbox-item"><a href="//cloud.google.com" class="gc-analytics-event"
               data-category="Site-Wide Custom Events"
               data-label="Footer Cloud Link">

                Google Cloud Platform

            </a></li><li class="devsite-footer-linkbox-item"><a href="//developers.google.com/products/" class="gc-analytics-event"
               data-category="Site-Wide Custom Events"
               data-label="Footer Products Link">

                All Products

            </a></li></ul></li></ul></nav></footer><footer class="devsite-utility-footer"><nav class="devsite-utility-footer-nav devsite-nav devsite-full-site-width"><div class="devsite-utility-footer-nav-left"><form class="devsite-utility-footer-language" action="/i18n/setlang/" method="post"><input type="hidden" name="xsrf_token" value="Vfb-eAV_Q1a_RaReA4JqFtIu39-lAwkCKOE2AzTkZLE6MTQ5Mjc1NjIzNTY2MjU5MA" /><input type="hidden" name="next" value="/chart/interactive/docs/quick_start"><select class="devsite-utility-footer-language-select kd-select" name="language"><option value="id"
              >
            Bahasa Indonesia
          </option><option value="de"
              >
            Deutsch
          </option><option value="en"
               selected="selected" >
            English
          </option><option value="es"
              >
            español
          </option><option value="fr"
              >
            français
          </option><option value="pt-br"
              >
            Português Brasileiro
          </option><option value="ru"
              >
            Русский
          </option><option value="ja"
              >
            日本語
          </option><option value="zh-cn"
              >
            简体中文
          </option><option value="ko"
              >
            한국어
          </option></select></form><span class="devsite-utility-footer-links"><a class="devsite-utility-footer-link gc-analytics-event"
           href="https://google-developers.appspot.com/terms/site-terms"
           data-category="Site-Wide Custom Events"
           data-label="Footer terms link">Terms
         </a><a class="devsite-utility-footer-link gc-analytics-event"
           href="https://www.google.com/policies/privacy/"
           data-category="Site-Wide Custom Events"
           data-label="Footer privacy link">Privacy
         </a></span></div><div class="devsite-utility-footer-nav-right"><div class="devsite-utility-footer-newsletter-signup-text">
        Sign up for the Google Developers newsletter
      </div><a class="button button-primary devsite-utility-footer-newsletter-signup-button"
         href="https://services.google.com/fb/forms/googledevelopersnewsletter/?utm_medium=referral&amp;utm_source=google-products&amp;utm_team=googledevs&amp;utm_campaign=201611-newsletter-launch">

        Subscribe
      </a></div></nav></footer></div><script async defer src="//www.gstatic.com/feedback/api.js"></script><script src="https://google-developers.appspot.com/_static/bd310eb799/js/jquery_ui-bundle.js"></script><script src="https://google-developers.appspot.com/_static2/bd310eb799/jsi18n/"></script><script src="https://google-developers.appspot.com/_static/bd310eb799/js/script_foot_closure.js"></script><script src="https://google-developers.appspot.com/_static/bd310eb799/js/script_foot.js"></script><script>
        (function($) {

          devsite.devsite.Init($, {'FULL_SITE_SEARCH_ENABLED': 1, 'ENABLE_BLOCKED_VIDEO_PLACEHOLDER': 0, 'VERSION_HASH': 'bd310eb799', 'SITE_NAME': 'devsite', 'HISTORY_ENABLED': 1, 'SUBPATH': '', 'ENABLE_BLOCKED_LINK_TOOLTIP': 0, 'ALLOWED_HOSTS': ['.android.com', '.api.ai', '.appspot.com', '.devsitetest.how', '.gonglchuangl.net', '.google.cn', '.google.com', '.googleplex.com', '.nest.com', '.tensorflow.org'], 'BLOCK_RSS_FEEDS': 0, 'SCRIPTSAFE_DOMAIN': 'google-developers.appspot.com'},
                               '[]','en',
                               true, '',
                               {"039e5d84b87fd75807ffb37b7f1bbf2c": true, "098dafe57affddc137df300142652cfd": false, "cb025a64a50094835616312f4774a53d": true, "416fede3a228858e8c05b81c15c4c304": true, "51470233c56fc1fde50f00b73c52b216": false, "752953480de00a336d911a46966cc16d": false, "700def1a83e356c06c0925afb05de4b0": false, "6749dcb526ce9bde6993550c7d928d24": true}, '/chart/',
                               'https://google-developers.appspot.com/');
        })(jQuery);


        devsite.localInit = function() {

        };

        var eventfn = function() {
          if ('None') {
            devsite.analytics.trackAnalyticsEvent(
              'Request Latency',
              'Profile',
              'None',
              174.939870834);
          };
        }
        // This only works since this will get called before the load event fires.

        window.addEventListener("load", eventfn, false);
      </script><script>
      $('.devsite-utility-footer-language-select').each(function() {
        $(this).change(function(){$('.devsite-utility-footer-language').submit();});
      });
      </script></div><span id="devsite-request-elapsed" data-request-elapsed="175.479888916"></span></body></html>
