<script language="javascript">
    // 자바 스크립트 시작
    function writeCheck() {
        var form = document.writeform;

        if (!form.name.value)
        {
            alert("회사명을 기입해주세요");
            form.name.focus();
            return;
        }

        if (!form.business.value)
        {
            alert("보유기술을 기입해주세요");
            form.business.focus();
            return;
        }

        if (!form.reference.value)
        {
            alert("양산경험을 기입해주세요");
            form.reference.focus();
            return;
        }
      form.submit();
    }
</script>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
<title>업체정보추가</title>
</head>
<table width=1000 border=1 cellspacing=0 cellpadding=5>
  <form name=writeform method=post action="/DoWriteBoard/">
    <tr><td><b>분야</b></td><td>
      <select name=technology_select>
        <option value="Auto">AUTOMOTIVE</option>
        <option value="Consumer">CONSUMER</option>
        <option value="General">GENRAL</option>
    <tr><td><b>회사명</b></td><td><input type=text name=name size=30  maxlength=50></td></tr>
    <tr><td><b>보유기술</b></td><td><textarea name=business cols=50 rows=5></textarea></td></tr>
    <tr><td><b>양산경험</b></td><td><textarea name=reference cols=50 rows=5></textarea></td></tr>
    <tr><td><b>홈페이지</b></td><td><input type=text name=url size=30  maxlength=50></td></tr>
    <tr><td><b>업체 담당자</b></td><td><input type=text name=contact size=30  maxlength=50></td></tr>
    <tr><td><b>직급</b></td><td><input type=text name=position size=30  maxlength=50></td></tr>
    <tr><td><b>전화번호</b></td><td><input type=text name=phone size=30  maxlength=50></td></tr>
    <tr><td><b>이메일</b></td><td><input type=text name=email size=30  maxlength=50></td></tr>
  </form>

</table>

<table width=1000 border=1 cellspacing=0 cellpadding=0>
<tr><td>

<input type=button value="등록" OnClick="javascript:writeCheck();">

</td></tr>
</table>
